  <!-- start section navbar -->
  <nav id="main-nav">
    <div class="row">
      <div class="container">

        <div class="logo">
          <a href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="#header" class="smoothScroll">Home</a></li>
          <li><a href="#about" class="smoothScroll">About</a></li>
          <li><a href="#portfolio" class="smoothScroll">Portfolio</a></li>
          <li><a href="#contact" class="smoothScroll">Contact</a></li>
          <li><a href="#services" class="smoothScroll">Services</a></li>

        </ul>

      </div>
    </div>
  </nav>
  <!-- End section navbar -->

    <!-- start section header -->
    <div id="header" class="home">

        <div class="container">
          <div class="header-content">
            <h1>I'm <span class="typed"></span></h1>
            <p>Progamador, Desenvolvedor, Full Stack</p>
    
            <ul class="list-unstyled list-social">
              <li><a href="https://www.facebook.com/share/16PuXzUHMd/"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="https://www.facebook.com/share/16PuXzUHMd/"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="https://github.com/efdsilva84"><i class="fa-brands fa-github"></i></a></li>
              <li><a href="https://www.linkedin.com/in/ed-furtado?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a></li>
              <li><a href="https://api.whatsapp.com/send?phone=5592988534986&text=Ola%2C%20vim%20de%20seu%20portifolio"><i class="fa-brands fa-whatsapp"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End section header -->


        <!-- start section about us -->
  <div id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">

        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
              <img src="assets/img/me.jpg" class="img-responsive" alt="me">
            </div>
          </div>
        </div>

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">Olá! Sou Analista e Desenvolvedor de Sistemas, pós-graduado em Engenharia de Software com ênfase em desenvolvimento web,
               com mais de 3 anos de experiência na criação de soluções digitais robustas e eficientes.
            </p>
            <p class="separator">Ao longo da minha trajetória, atuei no desenvolvimento de aplicações web e mobile, sempre com foco em performance, usabilidade e qualidade de código.

              Tenho paixão por transformar ideias em sistemas funcionais e escaláveis, unindo boas práticas de desenvolvimento com uma visão analítica voltada para resultados. 
              Gosto de trabalhar em equipe, aprender novas tecnologias e buscar constantemente melhorias nos processos e produtos.</p>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end section about us -->

    <!-- start section services -->
    <!-- <div id="services">
        <div class="container">
    
            <div class="services-carousel owl-theme">
    
              <div class="services-block">
    
                <i class="ion-ios-browsers-outline"></i>
                <span>UI/UX DESIGN</span>
                <p class="separator">To an English person, it will seem like simplified English,told me what </p>
    
              </div>
    
              <div class="services-block">
    
                <i class="ion-ios-lightbulb-outline"></i>
                <span>BRAND IDENTITY</span>
                <p class="separator">To an English person, it will seem like simplified English,told me what </p>
    
              </div>
    
              <div class="services-block">
    
                <i class="ion-ios-color-wand-outline"></i>
                <span>WEB DESIGN</span>
                <p class="separator">To an English person, it will seem like simplified English,told me what </p>
    
              </div>
    
              <div class="services-block">
    
                <i class="ion-social-android-outline"></i>
                <span>MOBILE APPS</span>
                <p class="separator">To an English person, it will seem like simplified English,told me what </p>
    
              </div>
    
              <div class="services-block">
    
                <i class="ion-ios-analytics-outline"></i>
                <span>Analytics</span>
                <p class="separator">To an English person, it will seem like simplified English,told me what </p>
    
              </div>
    
              <div class="services-block">
    
                <i class="ion-ios-camera-outline"></i>
                <span>PHOTOGRAPHY</span>
                <p class="separator">To an English person, it will seem like simplified English,told me what </p>
    
              </div>
    
            </div>
    
        </div>
    
      </div> -->
      <!-- end section services -->

        <!-- start section portfolio -->
  <div id="portfolio" class="text-center paddsection">

    <div class="container">
      <div class="section-title text-center">
        <h2>My Portfolio</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding uikits webdesign port">
              <a href="http://eburger.car.dev.br/" target="_blank">
                <img src="assets/img/eburger.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits photography port">
              <a  href="assets/img/2.jpg">
                <img src="assets/img/starbucks.jpg"  alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding webdesig photographyn port">
              <a  href="https://play.google.com/store/apps/details?id=br.com.econe.kl&pcampaignid=web_share">
                <img src="assets/img/klfreedon.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups webdesign photography port">
              <a class="popup-img" href="assets/img/4.jpg">
                <img src="assets/img/4.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding uikits photography port">
              <a class="popup-img" href="assets/img/5.jpg">
                <img src="assets/img/5.jpg" alt="img">
              </a>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits webdesign port">
              <a class="popup-img" href="assets/img/6.jpg">
                <img src="assets/img/6.jpg" alt="img">
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- End section portfolio -->

    <!-- start sectoion contact -->
    <div id="contact" class="paddsection">
        <div class="container">
          <div class="contact-block1">
            <div class="row">
    
              <div class="col-lg-6">
                <div class="contact-contact">
    
                  <h2 class="mb-30">ENTRE EM CONTATO</h2>
    
                  <ul class="contact-details">
                    <li><span>{{ dataAtual | date:'dd/MM/yyyy' }}</span></li>
                    <li><span>Amazonas, Brasil</span></li>
                    <li><span>+55 92988534986</span></li>
                    <li><span>efdsilva84gmail.com</span></li>
                  </ul>
    
                </div>
              </div>
    
              <div class="col-lg-6">
                <form action="" method="post" role="form" class="contactForm" [formGroup]="dadosMessage" (ngSubmit)="onSubmit()">
                  <div class="row">
    
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
    
                    <div class="col-lg-6">
                      <div class="form-group contact-block1">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Seu Nome" formControlName="nome"/>
                        <div class="validation"></div>
                      </div>
                    </div>
    
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email" formControlName="email" />
                        <div class="validation"></div>
                      </div>
                    </div>
    
                    <div class="col-lg-12">
                      <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto" formControlName="assunto" />
                        <div class="validation"></div>
                      </div>
                    </div>
    
                    <div class="col-lg-12">
                      <div class="form-group">
                        <textarea class="form-control" name="message" rows="12" formControlName="mensagem" placeholder="Menssagem"></textarea>
                        <div class="validation"></div>
                      </div>
                    </div>
    
                    <div class="col-lg-12">
                      <input type="submit" class="btn btn-defeault btn-send" value="ENVIAR">
                    </div>
    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- start sectoion contact -->

        <!-- start section footer -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">
        <ul class="list-unstyled">
          <li><a href="https://www.facebook.com/share/16PuXzUHMd/"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="https://www.facebook.com/share/16PuXzUHMd/"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="https://github.com/efdsilva84"><i class="fa-brands fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/ed-furtado?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a href="https://api.whatsapp.com/send?phone=5592988534986&text=Ola%2C%20vim%20de%20seu%20portifolio"><i class="fa-brands fa-whatsapp"></i></a></li>
        </ul>

      </div>

      <p>&copy; Copyrights Folio. All rights reserved.</p>

      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Folio
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>

    </div>
  </div>
  <!-- End section footer -->