/*-----------------------------------------------------------------------------------*/
/*  Portfolio
/*-----------------------------------------------------------------------------------*/

#portfolio {
    position: relative;
    padding-bottom: 50px;
  }
  
  #portfolio .portfolio-list {
    margin-bottom: 50px;
  }
  
  #portfolio .portfolio-list .nav {
    display: inline-block;
    margin: 0;
  }
  
  #portfolio .portfolio-list .nav li {
    margin: 0 40px 0 0;
    float: left;
    font-size: 14px;
    color: #999999;
    line-height: 16px;
    cursor: pointer;
    font-family: 'Poppins', helvetica;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  
  #portfolio .portfolio-list .nav li:hover, #portfolio .portfolio-list .nav li.filter-active  {
    color: #b8a07e;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
  }
  
  #portfolio .portfolio-container {
    display: inline-block;
    margin-bottom: 50px;
    width: 100%;
  }
  
  .portfolio-thumbnail {
    margin-bottom: 30px;
    overflow: hidden;
  }
  
  .portfolio-thumbnail img {
    max-width: 100%;
  }

  /*-----------------------------------------------------------------------------------*/
/*   Services
/*-----------------------------------------------------------------------------------*/

#services {
    background: #f7f7f7;
    position: relative;
    padding-bottom: 80px;
  }
  
  .owl-item {
    float: left;
  }
  .services-block span {
    margin: 10px 0;
    position: relative;
    font-size: 13px;
    color: #292929;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
  }
  
  .services-block .separator {
    margin: 0;
    font-size: 13px;
    line-height: 22px;
  }
  
  .services-block i {
    
    font-size: 44px;
    color: #b8a07e;
    line-height: 44px;
  }
  
  
  .services-carousel  .owl-stage-outer {
    overflow: hidden;
  }
  
  .services-carousel .owl-dots {
    margin-top: 5px;
    text-align: center;
  }
  
  .services-carousel .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    border: 0;
    padding: 0 !important;
    background-color: #ddd;
    cursor: pointer;
  }
  
  .services-carousel .owl-dot.active {
    background-color: #b8a07e;
  }
  
  .owl-nav {
    display: none;
  }
  .port:hover{
    opacity: 0.8;
  }